.card:hover {
  cursor: pointer;
}
.card img {
  width: 200px;
}

.cards-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 200px 200px 200px 200px;
  gap: 50px;
}
